/* Estilos para el logo principal */
.customText{
    margin-top: 0%;
    font-weight: 500;
    justify-self: center;
    border-bottom: black;
    border: none;
    margin-bottom: 0;
}  
.position {
   margin-left: 16%;
}
  /* .cover {
    object-fit: cover;
     display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  } */
  .missing-page {
   text-align:center;
   align-items: center;
   justify-content: center; 
   display: grid;
   grid-template-rows: 30% 70%;
   height: 80%;
  }
  .head{
    display: grid;
    grid-template-rows: 10% 60%;
  } 
  /* .text-center{
    justify-self: center;
    align-self: end;
    font-weight: bold;
    font-size: 145%;
  }  */
  .content_mail{
    display: grid;
    grid-template-rows: 60% 80%;
  }
  /* .content{
    display: grid;
    height: 50%;
    align-self: start;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 20%;
    grid-template-rows: 50% 50%;
  } */
  .login-button {
    display: block;
    width: 40%;
    /* margin: 30% auto; */
    background-color: #328FFF ;
    margin-right: 15%;
    margin-left: 30%;
    margin-top: 5%;
  }
  .login-button:hover{
    margin-top: 20%;
    display: block;
    width: 40%;
    background-color: #3978c5 ;
    margin-right: 15%;
    margin-left: 30%;
    margin-top: 5%;
  }
  
  /* Estilos para correo */
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  .content-password{
    margin-left: 12%;
    height: 100%;
    width: 80%;
  }
  
  