<h1 class="blockquote text-center customText">Cambia tu constrase&ntilde;a.</h1>
<!-- <p class="text-center">Cambia tu constrase&ntilde;a.</p> -->
<hr class="hr"/>
<div class="content">
<mat-card class="mat-elevation-z12" class="content-password">
<div class="content_mail">
    <mat-card-content>
    <form [formGroup]="formPassword" (submit)="sendPassword()">
      <mat-form-field class="col-md-8 position">
        <input type="password" matInput placeholder="Contrase&ntilde;a" formControlName="password" />
        <mat-error>
          Contrase&ntilde;a obligatoria, Debe incluir una mayuscula
          <div>8 caracteres y un caracter especial</div>
      </mat-error>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="col-md-8 position">
        <input type="password" matInput placeholder="Repite tu Contrase&ntilde;a" formControlName="password2" />
        <mat-error>
          Contrase&ntilde;a obligatoria, Debe incluir una mayuscula
          <div>8 caracteres y un caracter especial</div>
      </mat-error>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" class="login-button" type="submit" [disabled]="formPassword.invalid" (click)="search()">
        Cambiar contrase&ntilde;a
      </button>
      <br>
      <br>
    </form>
  </mat-card-content>
</div>  
</mat-card>
</div>

