<div class="mb-3 customText customPosition">
  <label class="form-label">Observación: </label>
  <textarea class="form-control customTextArea" disabled="disabled" rows="6" value="hola">
    {{this.letter}}
  </textarea>
</div>
<div class="customButtonAccions">
  <button type="submit"  class="btn btn-success customButton" (click)="saveOdontogram()" (click)="postOdontogram()">Guardar</button>
  <!-- <button type="submit" class="btn btn-primary customButton customButtonSubmit" (click)="PutOdontogram()" >Actualizar</button>
  <button class="btn btn-danger customButton" (click)="('delete')">Eliminar</button> -->
</div>
