.customButtonAccions{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-left: 35%;
}
.customPosition{
    /* resize: 100px; */
    width: 480px;
}
.customWidth{
    width: 100px;
}
.customText{
    /* margin-right: 5%; */
    font-size: 20px;
    font-weight: 500;
    /* justify-self: center;
    align-content: center; */
}
.customTextArea{
    border:solid 1px rgb(0, 0, 0);
}
.customButton{
    margin: 2%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    
    
}
.customButtonSubmit{
    background-color: #1178ac !important; 
}